[submodule "1PYTHON"]
	path = 1PYTHON
	url = https://github.com/Varunkumar2516/PYTHON.git
[submodule "2PYTHON-Numpy"]
	path = 2PYTHON-Numpy
	url = https://github.com/Varunkumar2516/Python-Numpy.git
[submodule "3PYTHON-Pandas"]
	path = 3PYTHON-Pandas
	url = https://github.com/Varunkumar2516/Python-Pandas.git
[submodule "Projects"]
	path = Projects
	url = https://github.com/Varunkumar2516/Data_Analysis_Projects.git
[submodule "python_Streamlit"]
	path = python_Streamlit
	url = https://github.com/Varunkumar2516/python_Streamlit.git
